#
# Sample .env
#
# Please copy to .env and modify with your configurations
#

DOMAIN_NAME="demo.yourdomain"

AKS_SUBSCRIPTION_ID="11111111-1111-1111-1111-111111111111"
AKS_RESOURCE_GROUP="Demo-WowzaK8SCluster"
AKS_NODE_RESOURCE_GROUP="Demo-WowzaK8SCluster-Nodes"
AKS_LOCATION="japanwest"

K8S_CLUSTER="wowzak8scluster"

K8S_CM_NAMESPACE="cert-manager"
K8S_CM_LETENCRYPT_EMAIL_ADDRESS="yourname@yourdomain"
K8S_EXTDNS_NAMESPACE="external-dns"

K8S_AZURE_DNS_ZONE_WORKLOAD_IDENTITY="k8s-dns-manager-workload-identity"
K8S_AZURE_DNS_ZONE_POD_IDENTITY="k8s-dns-manager-pod-identity"
K8S_AZURE_DNS_ZONE_POD_IDENTITY_SECRET_NAME="secret-dns-manager-azure-pod-identity"
